/* Importing Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@font-face {
  font-family: 'Poppinsa, sans-serif';
  src: url(../fonts/Poppins-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppinsa, sans-serif';
  src: url(../fonts/Poppins-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppinsa, sans-serif';
  src: url(../fonts/Poppins-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppinsa, sans-serif';
  src: url(../fonts/Poppins-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppinsa, sans-serif';
  src: url(../fonts/Poppins-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
@tailwind base;

/* Utilities */
@tailwind utilities;

/* Components */
@tailwind components;



@layer base {

  html,
  body {
    @apply scroll-smooth font-poppins text-f16 font-normal bg-darkBlack text-white;
  }

  .date-badge {
    @apply w-16 h-16 absolute top-5 left-5 z-10 bg-smokBlack flex flex-col items-center justify-center;
  }

  .btn {
    @apply p-2 rounded-none flex items-center justify-center font-semibold border-lightTaupe border-solid border-2 min-w-[160px];
  }

  .btn-primary {
    @apply bg-lightTaupe;
  }

  .btn-outline:hover {
    @apply bg-lightTaupe;
  }

  .btn-secondary {
    @apply bg-lightBlack border-lightBlack;
  }

  input {
    @apply w-full p-2 border-4 border-solid border-darkGrey rounded-none bg-transparent text-lightGrey text-lg font-medium;
  }
}

@layer utilities {
  .bg-featuredCatBg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  body.open .cart-drawer {
    transform: translate(0, 0);
  }

  body.menuopen .menu-drawer {
    transform: translate(0, 0);
  }

  body.open .lightbox {
    width: 100%;
    opacity: 0.8;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
  }

  body.menuopen {
    overflow: hidden;
  }

  body.menuopen .light_menu_box {
    width: 100%;
    opacity: 0.8;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
  }

  .cart-drawer {
    transform: translate(500px, 0);
    transition: transform 250ms ease-in-out;
  }

  .nav,
  .nav__sub {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    list-style-type: none;
  }

  .nav {
    position: relative;
    width: 100%;
    background-color: #0f0f0f;
    overflow: hidden;
  }

  .nav__item+.nav__item {
    margin-top: 15px;
  }

  .nav__link {
    font-weight: 500;
    color: white;
    text-decoration: none;
  }

  .nav__sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);
    background-color: #0f0f0f;
  }

  .nav__sub.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    background-color: #0f0f0f;
  }

  .has-dropdown:hover .hidden {
    display: block;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  .slider-container {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
  }

  .slider-controls .prev {
    left: -40px;
    position: relative;
  }

  .slider-container button {
    background-color: #333333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dot.active {
    background-color: #fff;
  }

  .pagination {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    padding-left: 300px;
  }

  .dot {
    height: 18px;
    width: 18px;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: solid 3px #fff;
  }

  .sortedpopularity .ss-placeholder{
    text-transform: capitalize !important;
  }

  .gcc-accordion li h4 {
    justify-content: space-between;
    display: flex;
    gap: 4px;
  }

   .gcc-accordion li.active h4  {
    font-weight: 600;
  }

  .gcc-accordion li .arrow-up svg {
     transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  }

  @media (max-width: 1024px) {
    .slider-controls .prev {
      left: 0;
    }

    .pagination {
      padding-left: 0;
    }

    /* .splide .splide__slide {
      height: 400px;
    } */

    .tabs .tab {
      border-bottom: solid 2px transparent;
      border-top: 0 !important;
      padding-top: 10px;
      width: 100%;
       padding: 10px 15px !important;
    }

    .tabs .tab.active {
     background-color: #000;
     padding: 10px 15px !important;
    }
  }

  .range-lable {
    background-image: url(../images/icons/chevron-down.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 14px;
    border-bottom: 1px solid #a79a66;
    border-radius: 0;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 33px;
  }

  .range-lable label {
    text-transform: uppercase;
    font-weight: 600;
  }

  .range-slider {
    width: 100%;
    text-align: center;
    position: relative;
  }

  input[type=range] {
    -webkit-appearance: none;
    position: absolute;
    left: 0;
    border: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #a79a66;
    border: none;
    border-radius: 3px;

  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 10px;
    border-radius: 0;
    background: #a79a66;
    margin-top: -10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a79a66;
  }

  input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #a79a66;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 32px;
    border-radius: 0;
    background: #a79a66;

  }

  input[type=range]:-moz-focusring {
    outline: 1px solid #a79a66;
    outline-offset: -1px;
  }

  input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    z-index: -4;

  }

  input[type=range]::-ms-fill-lower {
    background: #a79a66;
    border-radius: 10px;
  }

  input[type=range]::-ms-fill-upper {
    background: #a79a66;
    border-radius: 10px;
  }

  input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #a79a66;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #a79a66;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #a79a66;
  }

  #primary-slider {
    margin-bottom: 10px;
  }

  #primary-slider .splide__list {
    background-color: #000;
    margin-bottom: 20px;
  }

  .home-slider .splide__slide {
    height: auto;
    width: auto;
  }

  .home-slider .featuredInfo img {
    max-width: 18px;
    max-height: inherit;
  }

  .home-slider .featuredIcon img {
    max-width: 18px;
    width: 100% !important;
  }

  .home-slider .splide__slide img {
    margin: inherit;
    width: inherit;
    height: inherit;
  }

  .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 650px;
    width: 580px; */
    overflow: hidden;
  }

  .splide__slide img {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .tabs .tab {
    border-top: solid 2px transparent;
    text-transform: uppercase;
      padding: 10px 25px;
    font-weight: 700;
    font-size: 26px;
    color: #7a7a7a;
  }

  .tabs .tab.active {
    background-color: #000;
    padding: 10px 25px;
    color: #a79a66;
  }

  .sidebar-list li.active {
    background-color: #272727;
  }

  .eyes-slash .eye {
    display: none
  }

  .eye-slash {
    display: none
  }

  .eyes-slash .eye-slash {
    display: block
  }

  .hs-mega-menu {
    z-index: 1111;
  }

  .default-menu {
    display: none
  }

  .icon-svg svg {
    width: 100%;
    height: 100%;
  }

  .add-read-more.show-less-content .second-section,
  .add-read-more.show-less-content .read-less {
    display: none;
  }

  .add-read-more.show-more-content .read-more {
    display: none;

  }

  .read-more,
  .read-less {
    color: #a79a66;
    cursor: pointer;
    text-transform: capitalize;
  }

  .img-hover .product-img {
    cursor: pointer;
  }

  .img-hover img.product-img {
    transition: 0.3s;
  }

  .img-hover:hover img.product-img {
    transform: scale(1.1);
  }

  .img-hover:hover .featuredIcon {
    transition: all .5s ease;
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .img-hover .featuredIcon {
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px) translateZ(0);
  }

  .big-img {
    position: relative;
    /* width: 850px;
    height: 650px; */
    border: 1px solid #ddd;
    cursor: zoom-in;
    overflow: hidden;
  }

  .big-img img.zoom {
    position: absolute;
    transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
  }

  .display-img {
    width: 100%;
  }

  input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    display: none
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
    display: none
  }

  /* .dropdown:hover .dropdown-menu {
    display: block;
  } */

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    transform: translateY(-10px);
  }

  .slect-filed .ss-main {
    border: 2px solid #a79a66;
    padding-left: 10px;
  }

  input[type="radio"]+label span:hover,
  input[type="radio"]+label:hover span {
    transform: scale(1.2);
  }

  input[type="radio"]:checked+label span {
    background-color: #a79a66;
    box-shadow: 0px 0px 0px 2px #000 inset;
    margin-right: 10px;
    color: #a79a66;
  }

  input[type="radio"]:checked+label {
    color: #ffffff;
    font-weight: 600
  }

  .div-table .table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  .div-table .table .tr {
    display: table-row;
    border-bottom: 2px solid rgb(39 39 39 / 1);
  }

  .div-table .table .tr:first-child {
    font-weight: bold;
    border-bottom: 2px solid rgb(39 39 39 / 1);
  }

  .div-table .table .tr .td {
    display: table-cell;
  }

  .div-table .table .tr .td:first-child {
    border-left: 0;
  }

  /* Not necessary for table styling */
  .table-tag {
    float: left;
    margin: 2em;
  }

  .div-table .title,
  .table-tag .title {
    text-align: center;
    padding-bottom: 0.5em;
  }

  .page-header {
    position: relative;
  }

  .page-header::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgb(0 0 0 / 60%);
  }

  .rating-container {
    display: flex;
    position: relative;
    font-size: 31px;
    cursor: pointer;
    line-height: 1;
    gap: 10px;
  }

  .star {
    color: #ccc;
  }

  .star:hover,
  .star.active {
    color: #a79a66;
    fill: #a79a66;
  }

  #ratingDropdown {
    position: absolute;
    top: -9999px;
    /* Move the select off-screen */
  }

  #update-btn:not(:disabled) {
    background-color: #a79a66;
    color: #fff;
  }

  .splide__slide.is-visible {
  
  position: relative;
  }

   .splide__slide.is-visible::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.221);
   }

   .splide__slide.is-active.is-visible::after {
    display: none
   }

   .dark-select .ss-main{
      border: 1px solid var(--ss-border-color);
       padding: 0 10px;
   }

   .dark-select .ss-main .ss-values .ss-placeholder {
    text-transform: capitalize;
      color: rgb(151 151 151 / var(--tw-text-opacity));
     
   }


   .dark-select .ss-main .ss-arrow path {
stroke:rgb(151 151 151 / var(--tw-text-opacity));
   }

   .product-pagination li {
     min-width: 30px;
     text-align: center;
   }

   .product-pagination li.active{
    min-width: 30px;
    text-align: center;
    border-bottom: solid 2px #a79a66;
   }

   .inactive svg path {
    fill: #828282;
   }

   .map-icon:hover svg path{
    fill: red;
    stroke: red;
   }

}

@layer components {
  .featuredIcon {
    @apply bg-smokBlack absolute top-5 right-5 flex flex-col items-center justify-between p-1.5 gap-y-2;
  }

  .featuredInfo {
    @apply bg-smokBlack py-4 px-6 flex justify-between flex-col;
  }

   @media (max-width: 1024px) { 
    .featuredInfo {
      @apply bg-smokBlack py-2 px-3 flex ;
    }
   }

  .input-field {
    @apply border-lightTaupe focus:outline-none border-2;
  }

  .field-label {
    @apply text-f16 mb-2 flex;
  }
}